* {
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAA3UlEQVRIid3UIW/CQBQA4G9jmZydw88NMzG3H4LoDJaEoadJ8AsJkws/Ao+ZI5j9AjSChCAooiVpIIz22hqeu3d9/S6X945rjhb6uK0L+EKM7zLIf4WHvXeMQ5G8RVEoUqQgCCl6osJIyL0WQkK7IzdSpsdzIWWH6CJSxZRG6J3bvAv44QyLzHqHaVlghz88YYNOwMFOYiR5i2J08ZpZv1QBHB67QSb3m+Z+qgCe8YGbTK6dAls0q0CO4x7LFBnWAcBnCqzwUAfwKOmkGG+XPm4EAGvMJbMwkbTwFcceykwrHBOkPnoAAAAASUVORK5CYII"), auto; }

h1 {
  font-family: 'Amiri';
  font-weight: 25;
  font-size: 60px; }

body {
  background: #d6af88;
  font-family: 'Amiri';
  height: 1500px; }

.container {
  width: 1345px;
  min-width: 1345px;
  margin: 0 auto; }
  @media (max-width: 1440px) {
    .container {
      width: 1153px;
      min-width: 1153px; } }
  @media (max-width: 1152px) {
    .container {
      width: 961px;
      min-width: 961px; } }
  @media (max-width: 960px) {
    .container {
      width: 767px;
      min-width: 767px; } }
  @media (max-width: 768px) {
    .container {
      width: 481px;
      min-width: 481px; } }
  @media (max-width: 480px) {
    .container {
      width: 320px;
      min-width: 320px; } }
  .container .row {
    display: flex;
    align-items: center;
    padding: 0 16px; }

.container-fluid {
  padding: 0 48px; }
  .container-fluid .row {
    display: flex;
    align-items: center;
    padding: 0 16px; }

header {
  position: absolute;
  width: 100%;
  height: 100px;
  z-index: 10;
  overflow: hidden; }
  header .container-fluid .header-inner {
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; }
    header .container-fluid .header-inner .logo {
      font-size: 1.875rem;
      font-weight: 700; }
      header .container-fluid .header-inner .logo:hover {
        cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAABX0lEQVRIid2VPU7DQBCFPxzFDeEKHCDhDoQCShQilCtERIifS6CIMyQVP4dBNAQEJkALBzAFKYgp9i1eRXb81+VJo7U8M++tZ2fWsOrwgR5wCwTAtywAbuTzy5J3gQ8gyrB34KAIsQdcOgQPwAnQBNZlLeAUmDhxQ+VmwpL/AP2MJA84UqwVWYquQ76dZzdC2xHppAX5xDXvFyC3GCj3DagnBfSIa56rlguoAY/iOLQvXSLbCSNgXkLgFxjrObFMr1JvliC3aIkjSHKGcjYqCGyII7QvytR6Gda0/pfYFfjUullBwOZ+JQnca92tILCn9S7Jadt0Qvk2fWKhTV34mIsrwox/URwrd0rKoIGZBXtVtAuQ7wAzzOHuZwUPHZEB5tPTUMPsfKacizy78RyRCDP+Z5ghasi2gHPims9FXujsOpiLK+uHMyVHWdJQx3TENfCCmdAQeAau5Es90NXAH371aGNhjWw3AAAAAElFTkSuQmCC"), auto; }
    header .container-fluid .header-inner .navigation {
      position: absolute;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
      width: 50%;
      margin: 0 auto; }
      header .container-fluid .header-inner .navigation nav ul {
        text-decoration: none;
        display: flex;
        align-items: center;
        padding: 0; }
        header .container-fluid .header-inner .navigation nav ul li {
          list-style: none;
          margin: 0 40px; }
          header .container-fluid .header-inner .navigation nav ul li:hover {
            text-decoration: underline;
            text-underline-position: under; }
          @media (max-width: 1440px) {
            header .container-fluid .header-inner .navigation nav ul li {
              margin: 0 24px; }
              header .container-fluid .header-inner .navigation nav ul li:hover {
                text-decoration: underline;
                text-underline-position: under; } }
          header .container-fluid .header-inner .navigation nav ul li a {
            font-size: 0.875rem;
            padding: 8px 0;
            text-decoration: none;
            font-weight: 600;
            color: #0A0A0A;
            cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAB5UlEQVRIid3WT4hNYRjH8Y9/DcbQFHYsLCiRWYiFsqHoSlmYYmNjyUpiYafuZmLBwsKGSPaSneRfFoONSIOkicRG/gyacY/FeW/ndN1zvOfcofjVW+e85/c+3/Ocnud9D/+YluEextD4W9AhjCMJYwo7/iRwBY7jcwDeRDNcv8dJrJpO4DBuoCXL8hz6sCA3186+iTm9Qg/ngn7BBWzOPd/QAW6PuxioC12Jr9JMD2FhF8/9AnCC69KvUklbZAV0qcRXBG2PU1WgezApK6ABbMQrvMXB4FsSAf6BTbHgN2HRCGaFuSdYjYvYGeaORoATjMaCH4QFZ0s826UVHANOsDUGvBYTYcHuAs+2iuArMWA4IGuLIh2pAP6GRTHgfukO1cJpvJYW1ghmB8/iCuAEe2PAcKYgwLGcpwo4urWW4hGeS9upEQI8rQm+Ewvu1PwQYLImeLwOdFDW30lN8EQ+4MxIcKvD29B97y7TvFjjeVzG3HC/Bi/9PrOHJc+i9CKYr8lOmX7pVjmKjyXBd+FdXfAQPuSyWN/FU5bVcr8em9Fah2dh0ZQ0+33SA6Pz76Nb8D6ckP4a3aoCJi2KJr4XgGp9zioaxH5cxWN86gU8o8eX6QaKihnbx9OuXsGd++/tHuP9x/oJrZUZvVVQvTEAAAAASUVORK5CYII="), auto; }
    header .container-fluid .header-inner .cart {
      display: flex;
      align-items: center; }
      header .container-fluid .header-inner .cart .cart-icon img {
        display: inline-block;
        height: 24px;
        width: auto;
        line-height: 52px;
        font-size: .875rem;
        z-index: 3;
        transition: .2s ease-in-out; }
        header .container-fluid .header-inner .cart .cart-icon img:hover {
          background: #FFE6D8;
          cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAA5klEQVRIie3UMU4CQRTG8R+cgIrKhsQbcAUbQ2LPQYyViVcwnoIDWFnScQJrIUYSSYDExsKlAJqFZXBmWYPZL3nVzLz/9yVvHrX2q4cJxriuEjxGtqm3Mho2jryXRb4rVDO1QQ2uwWWDK/vXWa7y//pkRvLgkJEbvJdhJATO17fApovdXL/VDufspvr8wR08Y2k9GK94QvfUBkaKJ/TlwNmxtaNt4o+iC7hKyxTWJR7xJT1hMPE+tTcGKgdvdfdXYHgoATqPAcM9fhLAg1gw9DGLgH7iIgUMLdxiiGkAuLBOmgz9P1oBd4bGtnAvsNwAAAAASUVORK5CYII="), auto;
          padding: 10px 18px; }
        @media (max-width: 1440px) {
          header .container-fluid .header-inner .cart .cart-icon img {
            padding: 0 24px; } }

* {
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAA3UlEQVRIid3UIW/CQBQA4G9jmZydw88NMzG3H4LoDJaEoadJ8AsJkws/Ao+ZI5j9AjSChCAooiVpIIz22hqeu3d9/S6X945rjhb6uK0L+EKM7zLIf4WHvXeMQ5G8RVEoUqQgCCl6osJIyL0WQkK7IzdSpsdzIWWH6CJSxZRG6J3bvAv44QyLzHqHaVlghz88YYNOwMFOYiR5i2J08ZpZv1QBHB67QSb3m+Z+qgCe8YGbTK6dAls0q0CO4x7LFBnWAcBnCqzwUAfwKOmkGG+XPm4EAGvMJbMwkbTwFcceykwrHBOkPnoAAAAASUVORK5CYII"), auto; }

h1 {
  font-family: 'Amiri';
  font-weight: 25;
  font-size: 60px; }

body {
  background: #d6af88;
  font-family: 'Amiri';
  height: 1500px; }

.container {
  width: 1345px;
  min-width: 1345px;
  margin: 0 auto; }
  @media (max-width: 1440px) {
    .container {
      width: 1153px;
      min-width: 1153px; } }
  @media (max-width: 1152px) {
    .container {
      width: 961px;
      min-width: 961px; } }
  @media (max-width: 960px) {
    .container {
      width: 767px;
      min-width: 767px; } }
  @media (max-width: 768px) {
    .container {
      width: 481px;
      min-width: 481px; } }
  @media (max-width: 480px) {
    .container {
      width: 320px;
      min-width: 320px; } }
  .container .row {
    display: flex;
    align-items: center;
    padding: 0 16px; }

.container-fluid {
  padding: 0 48px; }
  .container-fluid .row {
    display: flex;
    align-items: center;
    padding: 0 16px; }

.banner {
  position: center;
  overflow: hidden;
  height: 70vh; }
  @media (max-width: 1440px) {
    .banner {
      height: 90vh; } }
  .banner .banner-addition-bg {
    background: #0A0A0A;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%; }
  .banner .banner-bg {
    background: #d6af88;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%; }
  .banner .banner-inner {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative; }
    @media (max-width: 1440px) {
      .banner .banner-inner {
        height: 90vh; } }
    .banner .banner-inner .content {
      width: 60%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
      .banner .banner-inner .content .content-inner {
        text-align: center; }
        .banner .banner-inner .content .content-inner h1 {
          color: #0A0A0A;
          font-size: 3.4rem;
          margin-right: 350;
          width: 1000px; }
          @media (max-width: 1440px) {
            .banner .banner-inner .content .content-inner h1 {
              font-size: 3.1rem; } }
          .banner .banner-inner .content .content-inner h1 .line {
            overflow: hidden;
            height: 84px;
            position: relative; }
            .banner .banner-inner .content .content-inner h1 .line span {
              position: absolute; }
        .banner .banner-inner .content .content-inner p {
          font-size: 1rem;
          font-weight: 300;
          color: #0A0A0A; }
          @media (max-width: 1440px) {
            .banner .banner-inner .content .content-inner p {
              margin: 16px 0 60px; } }
        .banner .banner-inner .content .content-inner .btn-row a {
          font-size: 1.0rem;
          padding: 15px 32px;
          text-decoration: none;
          font-family: 'Amiri';
          font-weight: 200;
          color: #F9F9F9;
          background: #0A0A0A;
          border-radius: 140px; }
          @media (max-width: 1440px) {
            .banner .banner-inner .content .content-inner .btn-row a {
              left: 30; } }
          .banner .banner-inner .content .content-inner .btn-row a:hover {
            cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAA5klEQVRIie3UMU4CQRTG8R+cgIrKhsQbcAUbQ2LPQYyViVcwnoIDWFnScQJrIUYSSYDExsKlAJqFZXBmWYPZL3nVzLz/9yVvHrX2q4cJxriuEjxGtqm3Mho2jryXRb4rVDO1QQ2uwWWDK/vXWa7y//pkRvLgkJEbvJdhJATO17fApovdXL/VDufspvr8wR08Y2k9GK94QvfUBkaKJ/TlwNmxtaNt4o+iC7hKyxTWJR7xJT1hMPE+tTcGKgdvdfdXYHgoATqPAcM9fhLAg1gw9DGLgH7iIgUMLdxiiGkAuLBOmgz9P1oBd4bGtnAvsNwAAAAASUVORK5CYII="), auto;
            transition: .2s ease-in;
            background: #FFE6D8;
            border-radius: 0%;
            color: black;
            padding: 15px 100px; }
    .banner .banner-inner .image {
      width: 340%;
      height: 105%;
      display: flex;
      justify-content: center;
      align-items: flex-end; }
      .banner .banner-inner .image .image-inner img {
        width: 550px;
        position: relative;
        bottom: 0;
        left: 0;
        right: 0; }

* {
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAA3UlEQVRIid3UIW/CQBQA4G9jmZydw88NMzG3H4LoDJaEoadJ8AsJkws/Ao+ZI5j9AjSChCAooiVpIIz22hqeu3d9/S6X945rjhb6uK0L+EKM7zLIf4WHvXeMQ5G8RVEoUqQgCCl6osJIyL0WQkK7IzdSpsdzIWWH6CJSxZRG6J3bvAv44QyLzHqHaVlghz88YYNOwMFOYiR5i2J08ZpZv1QBHB67QSb3m+Z+qgCe8YGbTK6dAls0q0CO4x7LFBnWAcBnCqzwUAfwKOmkGG+XPm4EAGvMJbMwkbTwFcceykwrHBOkPnoAAAAASUVORK5CYII"), auto; }

h1 {
  font-family: 'Amiri';
  font-weight: 25;
  font-size: 60px; }

body {
  background: #d6af88;
  font-family: 'Amiri';
  height: 1500px; }

.container {
  width: 1345px;
  min-width: 1345px;
  margin: 0 auto; }
  @media (max-width: 1440px) {
    .container {
      width: 1153px;
      min-width: 1153px; } }
  @media (max-width: 1152px) {
    .container {
      width: 961px;
      min-width: 961px; } }
  @media (max-width: 960px) {
    .container {
      width: 767px;
      min-width: 767px; } }
  @media (max-width: 768px) {
    .container {
      width: 481px;
      min-width: 481px; } }
  @media (max-width: 480px) {
    .container {
      width: 320px;
      min-width: 320px; } }
  .container .row {
    display: flex;
    align-items: center;
    padding: 0 16px; }

.container-fluid {
  padding: 0 48px; }
  .container-fluid .row {
    display: flex;
    align-items: center;
    padding: 0 16px; }

.formulas {
  background: #0A0A0A;
  position: absolute;
  left: 0;
  right: 0;
  top: 700;
  width: 100%;
  height: 100%;
  color: white;
  z-index: 10;
  overflow: hidden;
  justify-content: center;
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAA5klEQVRIie3UMU4CQRTG8R+cgIrKhsQbcAUbQ2LPQYyViVcwnoIDWFnScQJrIUYSSYDExsKlAJqFZXBmWYPZL3nVzLz/9yVvHrX2q4cJxriuEjxGtqm3Mho2jryXRb4rVDO1QQ2uwWWDK/vXWa7y//pkRvLgkJEbvJdhJATO17fApovdXL/VDufspvr8wR08Y2k9GK94QvfUBkaKJ/TlwNmxtaNt4o+iC7hKyxTWJR7xJT1hMPE+tTcGKgdvdfdXYHgoATqPAcM9fhLAg1gw9DGLgH7iIgUMLdxiiGkAuLBOmgz9P1oBd4bGtnAvsNwAAAAASUVORK5CYII="), auto; }
  .formulas .formula-title h1 {
    margin-top: 170px;
    font-size: 38px; }
  .formulas .formula-content {
    margin-top: 160px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAA5klEQVRIie3UMU4CQRTG8R+cgIrKhsQbcAUbQ2LPQYyViVcwnoIDWFnScQJrIUYSSYDExsKlAJqFZXBmWYPZL3nVzLz/9yVvHrX2q4cJxriuEjxGtqm3Mho2jryXRb4rVDO1QQ2uwWWDK/vXWa7y//pkRvLgkJEbvJdhJATO17fApovdXL/VDufspvr8wR08Y2k9GK94QvfUBkaKJ/TlwNmxtaNt4o+iC7hKyxTWJR7xJT1hMPE+tTcGKgdvdfdXYHgoATqPAcM9fhLAg1gw9DGLgH7iIgUMLdxiiGkAuLBOmgz9P1oBd4bGtnAvsNwAAAAASUVORK5CYII="), auto; }
    .formulas .formula-content:hover {
      cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAA5klEQVRIie3UMU4CQRTG8R+cgIrKhsQbcAUbQ2LPQYyViVcwnoIDWFnScQJrIUYSSYDExsKlAJqFZXBmWYPZL3nVzLz/9yVvHrX2q4cJxriuEjxGtqm3Mho2jryXRb4rVDO1QQ2uwWWDK/vXWa7y//pkRvLgkJEbvJdhJATO17fApovdXL/VDufspvr8wR08Y2k9GK94QvfUBkaKJ/TlwNmxtaNt4o+iC7hKyxTWJR7xJT1hMPE+tTcGKgdvdfdXYHgoATqPAcM9fhLAg1gw9DGLgH7iIgUMLdxiiGkAuLBOmgz9P1oBd4bGtnAvsNwAAAAASUVORK5CYII="), auto; }
    .formulas .formula-content .selection {
      cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAAA5klEQVRIie3UMU4CQRTG8R+cgIrKhsQbcAUbQ2LPQYyViVcwnoIDWFnScQJrIUYSSYDExsKlAJqFZXBmWYPZL3nVzLz/9yVvHrX2q4cJxriuEjxGtqm3Mho2jryXRb4rVDO1QQ2uwWWDK/vXWa7y//pkRvLgkJEbvJdhJATO17fApovdXL/VDufspvr8wR08Y2k9GK94QvfUBkaKJ/TlwNmxtaNt4o+iC7hKyxTWJR7xJT1hMPE+tTcGKgdvdfdXYHgoATqPAcM9fhLAg1gw9DGLgH7iIgUMLdxiiGkAuLBOmgz9P1oBd4bGtnAvsNwAAAAASUVORK5CYII="), auto; }
      .formulas .formula-content .selection:hover {
        transition: .3s ease-in-out;
        background: #FFE6D8;
        border-radius: 0%;
        color: #0A0A0A;
        padding: 10px 85px; }

* {
  cursor: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAABmJLR0QA/wD/AP+gvaeTAAAA3UlEQVRIid3UIW/CQBQA4G9jmZydw88NMzG3H4LoDJaEoadJ8AsJkws/Ao+ZI5j9AjSChCAooiVpIIz22hqeu3d9/S6X945rjhb6uK0L+EKM7zLIf4WHvXeMQ5G8RVEoUqQgCCl6osJIyL0WQkK7IzdSpsdzIWWH6CJSxZRG6J3bvAv44QyLzHqHaVlghz88YYNOwMFOYiR5i2J08ZpZv1QBHB67QSb3m+Z+qgCe8YGbTK6dAls0q0CO4x7LFBnWAcBnCqzwUAfwKOmkGG+XPm4EAGvMJbMwkbTwFcceykwrHBOkPnoAAAAASUVORK5CYII"), auto; }

h1 {
  font-family: 'Amiri';
  font-weight: 25;
  font-size: 60px; }

body {
  background: #d6af88;
  font-family: 'Amiri';
  height: 1500px; }

.container {
  width: 1345px;
  min-width: 1345px;
  margin: 0 auto; }
  @media (max-width: 1440px) {
    .container {
      width: 1153px;
      min-width: 1153px; } }
  @media (max-width: 1152px) {
    .container {
      width: 961px;
      min-width: 961px; } }
  @media (max-width: 960px) {
    .container {
      width: 767px;
      min-width: 767px; } }
  @media (max-width: 768px) {
    .container {
      width: 481px;
      min-width: 481px; } }
  @media (max-width: 480px) {
    .container {
      width: 320px;
      min-width: 320px; } }
  .container .row {
    display: flex;
    align-items: center;
    padding: 0 16px; }

.container-fluid {
  padding: 0 48px; }
  .container-fluid .row {
    display: flex;
    align-items: center;
    padding: 0 16px; }

.footer {
  background: #d6af88;
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 0px;
  padding: 2px 2px;
  width: 100%;
  height: 10vw;
  overflow: hidden;
  color: black;
  z-index: 20; }

.footer-text p {
  top: 1430;
  z-index: 20;
  overflow: hidden;
  font-size: 25px;
  font-weight: 100;
  position: absolute;
  color: white; }

#label p {
  bottom: 0;
  right: 10;
  font-size: 10.5;
  position: fixed;
  color: #F9F9F9;
  z-index: 10; }
  #label p a {
    text-decoration: none;
    color: #F9F9F9; }
